@font-face {
  font-family: "BungeeShade-Regular";
  src: url("/fonts/BungeeShade-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FastOne";
  src: url("/fonts/FasterOne.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.BungeeShade_Regular {
  font-family: "BungeeShade-Regular", sans-serif;
}

.FastOne {
  font-family: "FastOne", sans-serif;
}
/* .poppins {
  font-family: var(--font-poppins), sans-serif;
}

.roboto {
  font-family: var(--font-roboto), sans-serif;
} */

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* gap: 20px; */
  width: 100%;
  /* margin: 50px 0; */
  /* padding-right: 200px; */
}

.container .gridItem:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.container .gridItem:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
/* 
.container .gridItem:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.container .gridItem:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
} */

/* .container .gridItem:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
} */

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 15px; */
}

.itemTitle {
  font-size: 2.5rem;
  /* font-weight: 600; */
  color: #333;
  margin-bottom: -6%;
  text-align: center;
}

.p_available {
  font-size: 2.3rem;
  /* font-weight: 500; */
  color: #2288f6c3;
  z-index: 10;
  /* font-family: "Roboto", sans-serif; */

  /* margin: 0; */
  margin-bottom: -5%;
  text-align: center;
  text-shadow: -1px -1px 0 #e1e1e1b7, 1px -1px 0 #181818b7, -1px 1px 0 #181818b7,
    1px 1px 0 #181818b7, -2px 0px 0 #e1e1e1b7, 2px 0px 0 #e1e1e1b7,
    0px -2px 0 #e1e1e1b7;
}

.pointsDisplay {
  /* font-family: "Roboto", sans-serif; */
  font-size: 2.5rem;
  font-weight: 600;
  color: #c29250;
  margin-top: -5%;
  z-index: 1;
  /* text-decoration: overline; */
  text-decoration-color: #9d6b2478;
  /* text-decoration-thickness: 2px; */
  /* text-shadow: 1px 2px 4px rgba(0, 0, 0, 1); */
  /* text-shadow: h-shadow v-shadow blur-radius color; */
  /*   
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0px 0 #000, 3px 0px 0 #000, 0px -3px 0 #000,
    0px 3px 0 #000; */

  /* text-shadow: -1px -1px 0 #181818b7, 1px -1px 0 #181818b7, -1px 1px 0 #181818b7,
    1px 1px 0 #181818b7, -2px 0px 0 #181818b7, 2px 0px 0 #181818b7,
    0px -2px 0 #181818b7; */

  text-shadow: -1px -1px 0 #e1e1e1b7, 1px -1px 0 #181818b7, -1px 1px 0 #181818b7,
    1px 1px 0 #181818b7, -2px 0px 0 #e1e1e1b7, 2px 0px 0 #e1e1e1b7,
    0px -2px 0 #e1e1e1b7;
}

/* Mobile layout */
/* @media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .gridItem {
    width: 90%;
  }
} */

/* Chest with Coin Animation */
.chestWrapper {
  width: 520px;
  /* height: 420px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chestIcon {
  /* width: 330px;
  height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.chestImage {
  width: 100%;
  /* height: 250px; */
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

/* Coin Animation */
.coin {
  position: absolute;
  top: var(--coin-from-x, 50px);
  left: var(--coin-from-y, 50px);
  z-index: 100;
  opacity: 0;
}

.coin::after {
  content: "$";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(237, 196, 107);
  background: rgb(227, 162, 23);
  border: 2px solid rgb(237, 196, 107);
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.coinAnimated,
.coinAnimated::after {
  animation-delay: var(--coin-delay, 0s);
  animation-duration: var(--coin-duration, 1.5s);
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.coinAnimated {
  animation-name: coinXAxis;
  animation-timing-function: ease-in;
}

.coinAnimated::after {
  animation-name: coinYAxisAndFlip;
  animation-timing-function: ease-out;
}

@keyframes coinXAxis {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    left: calc(var(--coin-to-x) * 1.5);
  }
}

@keyframes coinYAxisAndFlip {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(calc(var(--coin-to-y) * 1.5))
      rotate3d(1, 1, 1, 1080deg);
  }
}
